[credential]
	helper = osxkeychain
[user]
	name = gshahbazian
	email = gabeshahbazian@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/gabelassie/development/gshahbazian/dotfiles/.gitignore_global
[alias]
	s = status
	branchname = rev-parse --abbrev-ref HEAD
	pb = !git push -u origin $(git branchname)
	p = pull --rebase --prune
	ma = checkout master
	cb = checkout -b
	cm = !git add -A && git commit -m
	ammend = commit -a --amend
	rh = reset --hard
	aliases = config --get-regexp alias
