[user]
  name = gshahbazian
  email = gabeshahbazian@gmail.com

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[core]
  editor = nvim
  excludesfile = /Users/gabe/development/gshahbazian/dotfiles/.gitignore_global
  pager = delta

[alias]
  s = status
  p = pull --rebase --prune
  d = diff
  ma = switch master
  mm = switch main
  cb = switch -c
  amend = commit --amend --no-edit
  copy-hash = !git rev-parse --short HEAD | pbcopy
  aliases = config --get-regexp alias

[push]
  autoSetupRemote = true

[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  line-numbers = true

[merge]
  conflictStyle = zdiff3
