# Autocompletion
set completion-ignore-case on
set show-all-if-ambiguous on
TAB: menu-complete
"\e[A": history-search-backward
"\e[B": history-search-forward

# Use Alt/Meta + Delete to delete the preceding word
# "\e[3;3~": kill-word
